/* Box sizing and default margins */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default body spacing and set font */
body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #000;
}

/* Make images and videos responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove link underlines */
a {
  text-decoration: none;
  color: inherit;
}

/* Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Smooth scrolling (optional) */
html {
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header{
  background-color: rgb(213, 207, 195);
  /* padding-top: 20px; */
  padding: 20px;
  grid-column: 2 / 5;
  display: grid;
  grid-template-rows: auto auto;
}

.top-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user-actions {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.user {
  display: flex;
}

.bottom-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: last baseline;
}

.user-info{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.header-buttons {
  justify-self: right;
}

.sidebar{
  background-color: rgb(102, 162, 235);
  padding-top: 20px;
  padding-left: 20px;
  grid-row: span 2;
  display: grid;
    grid-template-rows: auto 1fr auto; /* brand / nav / settings */
  height: 100%; 
}

main {
  background-color: orange;
  padding: 20px;
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 3fr 1fr;
  
}

.projects-cards{
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.right-panel {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

